[Desktop Entry]
Encoding=UTF-8
Name=labrotix
Comment=labrotix P2P Cryptocurrency
Comment[fr]=labrotix, monnaie virtuelle cryptographique pair à pair
Comment[tr]=labrotix, eşten eşe kriptografik sanal para birimi
Exec=labrotix-qt %u
Terminal=false
Type=Application
Icon=labrotix128
MimeType=x-scheme-handler/labrotix;
Categories=Office;Finance;
